.titleBar
  / Thread title
  h1 2017 New Year Resolutions

  p.muted#pageDescription Discussion in '<a href='/thread'>Real Life Discussion</a>' started by <a class='username' href='/user_profile'>Vira</a>, <a href='/thread'><span class='DateTime' title='Dec 30, 2016 at 6:08 PM'>Dec 30, 2016</span></a>.
