@import url('https://fonts.googleapis.com/css?family=Lato');

$background: #000;
$text-color: #93be91;
$link-color: lighten($text-color, 10);
$link-active-color: #38d238;
$box-background: #0a1c0b;
$body-background: #21301f;
$subheader-background: darken($body-background, 5);
$search-background: #010;
$white: #fff;
$red: #f00;
$orange: #960;
$black: #000;
$navhighlight-background: lighten($box-background, 5);
$useraccount-background: lighten($box-background, 3);

body {
  background: $background;
  color: $text-color;
  font-family: "Lato", sans-serif;
  font-size: 12pt;
  margin-top: 55px;
}

a {
  color: $link-color;
  font-weight: bold;
  &:hover {
    color: $link-active-color;
    cursor: pointer;
  }
}

ol, ul {
  list-style-type: none;
}

.pageWidth {
  max-width: 1100px;
  margin: 0 auto;
  box-sizing: border-box;
  width: 85%;
}

.nodeList .categoryNodeInfo .nodeTitle {
  margin-top: 35px;
  font-size: 1.4em;
  padding: 15px;
  background: $box-background;
  letter-spacing: 5px;

  a {
    text-decoration: none;
    font-weight: bold;
    color: $text-color;
  }
}

.nodeList .forumMeta {
  background: $subheader-background;
}

.nodeList .forumMetaFields {
  display: table;
  width: 100%;

  .label {
    padding: 10px;
    display: table-cell;
    font-weight: bold;
  }

  .forum {
    width: 50%;
  }
  .threads,
  .posts {
    text-align: center;
    width: 10%;
  }
  .lastPost {
    width: 30%;
  }
}

.nodeList .node.forum {
  background: $body-background;
  color: $text-color;
}

.forumNodeInfo.unread {
  border-left: 4px solid $text-color;
}

.forumNodeInfo {
  a {
    letter-spacing: 1px;
    text-decoration: none;
  }
  display: table;
  width: 100%;
  .nodeText,
  .nodeThreads,
  .nodePosts,
  .nodeLastPost {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
  }

  .nodeText {
    width: 50%;
    .nodeTitle a {
      font-size: .9em;
      line-height: 1em;
    }
    .nodeDescription {

    }
  }

  .nodeThreads,
  .nodePosts {
    font-size: 1.25em;
    text-align: center;
    width: 10%;
  }

  .nodeLastPost {
    width: 30%;
  }
}
