/ /! sidebar
/ aside
/   .sidebar
/     .section.loginButton
/       .secondaryContent
/         label#SignupButton for="LoginControl"
/           a.inner href="login/"  Sign up now!
/     /! block: sidebar_online_staff
/     /! end block: sidebar_online_staff
/     /! block: sidebar_online_users
/     .section.membersOnline.userList
/       .secondaryContent
/         h3
/           a href="online/" title=("See all online users")  Members Online Now
/         .footnote
/           | Total: 0 (members: 0, guests: 0, robots: 0)
/     /! end block: sidebar_online_users
/     .section.threadList
/       .secondaryContent
/         h3
/           a href="find-new/posts"  New Posts
/         ul
/           li#thread-36263.threadListItem data-author="Arthellion"
/             a.avatar.Av65377s data-avatarhtml="true" href="members/65377/"
/               img alt="Arthellion" height="48" src="styles/default/xenforo/avatars/avatar_s.png" width="48" /
/             .messageInfo
/               .messageContent
/                 .title
/                   a href="posts/983968/"  Wheel of Time TV
/               .additionalRow.muted
/                 | Latest: Arthellion,
/                 span.DateTime title="Apr 22, 2017 at 7:13 AM"  Apr 22, 2017
/               .additionalRow.muted
/                 a.forumLink href="forums/88/"  Movies, Music and TV shows
/           li#thread-36251.threadListItem data-author="KaiDASH"
/             a.avatar.Av12425s data-avatarhtml="true" href="members/12425/"
/               img alt="KaiDASH" height="48" src="data/avatars/s/12/12425.jpg?1492838890" width="48" /
/             .messageInfo
/               .messageContent
/                 .title
/                   a href="posts/983967/"  Witchhunt #8 - Signups
/               .additionalRow.muted
/                 | Latest: KaiDASH,
/                 span.DateTime title="Apr 22, 2017 at 7:13 AM"  Apr 22, 2017
/               .additionalRow.muted
/                 a.forumLink href="forums/126/"  Little Italy
/           li#thread-36261.threadListItem data-author="Arthellion"
/             a.avatar.Av65377s data-avatarhtml="true" href="members/65377/"
/               img alt="Arthellion" height="48" src="styles/default/xenforo/avatars/avatar_s.png" width="48" /
/             .messageInfo
/               .messageContent
/                 .title
/                   a href="posts/983966/"  Political Compass, 2017 Edition
/               .additionalRow.muted
/                 | Latest: Arthellion,
/                 span.DateTime title="Apr 22, 2017 at 7:09 AM"  Apr 22, 2017
/               .additionalRow.muted
/                 a.forumLink href="forums/33/"  Politics
/           li#thread-29703.threadListItem data-author="kinetique"
/             a.avatar.Av51517s data-avatarhtml="true" href="members/51517/"
/               img alt="kinetique" height="48" src="styles/default/xenforo/avatars/avatar_s.png" width="48" /
/             .messageInfo
/               .messageContent
/                 .title
/                   a href="posts/983965/"
/                     span.prefix.prefixPrimary [WIP]
/                     | The Changeling by Annerb - T
/               .additionalRow.muted
/                 | Latest: kinetique,
/                 span.DateTime title="Apr 22, 2017 at 7:06 AM"  Apr 22, 2017
/               .additionalRow.muted
/                 a.forumLink href="forums/16/"  The Alternates
/           li#thread-30731.threadListItem data-author=("The Iron Rose")
/             a.avatar.Av17967s data-avatarhtml="true" href="members/17967/"
/               img alt=("The Iron Rose") height="48" src="data/avatars/s/17/17967.jpg?1492838898" width="48" /
/             .messageInfo
/               .messageContent
/                 .title
/                   a href="posts/983962/"  TOMD 4: The Tribraggart Tournament
/               .additionalRow.muted
/                 | Latest: The Iron Rose,
/                 span.DateTime title="Apr 22, 2017 at 6:52 AM"  Apr 22, 2017
/               .additionalRow.muted
/                 a.forumLink href="forums/19/"  Real Life Discussion
/     .section.profilePostList
/       .secondaryContent
/         h3
/           a href="find-new/profile-posts"  New Profile Posts
/         ul#ProfilePostList
/           li#profile-post-5526.profilePostListItem.staff data-author=("Lord Ravenclaw")
/             a.avatar.Av5s data-avatarhtml="true" href="members/5/"
/               img alt=("Lord Ravenclaw") height="48" src="data/avatars/s/0/5.jpg?1492838845" width="48" /
/             .messageInfo
/               .messageContent
/                 span.poster
/                   a.username dir="auto" href="members/5/"  Lord Ravenclaw
/                 article
/                   blockquote.ugc.baseHtml Test
/               .messageMeta
/                 .privateControls
/                   a.item.muted href="profile-posts/5526/" title="Permalink"
/                     span.DateTime title="Apr 22, 2017 at 8:39 AM"  Apr 22, 2017
/                 .publicControls
/                   a.item.Tooltip.OverlayTrigger data-offsetx="7" data-offsety="-7" data-tipclass="flipped" href="profile-posts/5526/" title="Interact"  •••
/           li#profile-post-5525.profilePostListItem data-author="Zenzao"
/             a.avatar.Av9591s data-avatarhtml="true" href="members/9591/"
/               img alt="Zenzao" height="48" src="data/avatars/s/9/9591.jpg?1492838883" width="48" /
/             .messageInfo
/               .messageContent
/                 span.poster
/                   a.username dir="auto" href="members/9591/"  Zenzao
/                   span.muted ►
/                   a.username dir="auto" href="members/7430/"  Silens Cursor
/                 article
/                   blockquote.ugc.baseHtml Happy Birthday, Silens. Hope you have a great time and celebration.
/               .messageMeta
/                 .privateControls
/                   a.item.muted href="profile-posts/5525/" title="Permalink"
/                     span.DateTime title="Apr 20, 2017 at 5:02 AM"  Apr 20, 2017
/                 .publicControls
/                   a.item.Tooltip.OverlayTrigger data-offsetx="7" data-offsety="-7" data-tipclass="flipped" href="profile-posts/5525/" title="Interact"  •••
/           li#profile-post-5524.profilePostListItem data-author="vlad"
/             a.avatar.Av3799s data-avatarhtml="true" href="members/3799/"
/               img alt="vlad" height="48" src="data/avatars/s/3/3799.jpg?1492838865" width="48" /
/             .messageInfo
/               .messageContent
/                 span.poster
/                   a.username dir="auto" href="members/3799/"  vlad
/                   span.muted ►
/                   a.username dir="auto" href="members/65377/"  Arthellion
/                 article
/                   blockquote.ugc.baseHtml Another Georgian, o/. Our fire rises!...but probably falls on ourselves D: D: D:
/               .messageMeta
/                 .privateControls
/                   a.item.muted href="profile-posts/5524/" title="Permalink"
/                     span.DateTime title="Apr 19, 2017 at 6:39 PM"  Apr 19, 2017
/                 .publicControls
/                   a.item.Tooltip.OverlayTrigger data-offsetx="7" data-offsety="-7" data-tipclass="flipped" href="profile-posts/5524/" title="Interact"  •••
/           li#profile-post-5523.profilePostListItem data-author="vlad"
/             a.avatar.Av3799s data-avatarhtml="true" href="members/3799/"
/               img alt="vlad" height="48" src="data/avatars/s/3/3799.jpg?1492838865" width="48" /
/             .messageInfo
/               .messageContent
/                 span.poster
/                   a.username dir="auto" href="members/3799/"  vlad
/                   span.muted ►
/                   a.username dir="auto" href="members/3821/"  Seratin
/                 article
/                   blockquote.ugc.baseHtml Serakin plz no hait meh i luv u Muh favorite pokemonz team writer &lt;3
/               .messageMeta
/                 .privateControls
/                   a.item.muted href="profile-posts/5523/" title="Permalink"
/                     span.DateTime title="Apr 17, 2017 at 9:59 PM"  Apr 17, 2017
/                 .publicControls
/                   a.item.Tooltip.OverlayTrigger data-offsetx="7" data-offsety="-7" data-tipclass="flipped" href="profile-posts/5523/" title="Interact"  •••
/           li#profile-post-5522.profilePostListItem data-author="Halt"
/             a.avatar.Av11198s data-avatarhtml="true" href="members/11198/"
/               img alt="Halt" height="48" src="styles/default/xenforo/avatars/avatar_s.png" width="48" /
/             .messageInfo
/               .messageContent
/                 span.poster
/                   a.username dir="auto" href="members/11198/"  Halt
/                   span.muted ►
/                   a.username dir="auto" href="members/3821/"  Seratin
/                 article
/                   blockquote.ugc.baseHtml Ah thanks. Didnt know he had another series
/               .messageMeta
/                 .privateControls
/                   a.item.muted href="profile-posts/5522/" title="Permalink"
/                     span.DateTime title="Apr 7, 2017 at 6:14 PM"  Apr 7, 2017
/                 .publicControls
/                   a.item.Tooltip.OverlayTrigger data-offsetx="7" data-offsety="-7" data-tipclass="flipped" href="profile-posts/5522/" title="Interact"  •••
/     /! block: forum_stats
/     .section
/       #boardStats.secondaryContent.statsList
/         h3 Forum Statistics
/         .pairsJustified
/           dl.discussionCount
/             dt Discussions:
/             dd 31,440
/           dl.messageCount
/             dt Messages:
/             dd 935,166
/           dl.memberCount
/             dt Members:
/             dd 10,846
/           dl
/             dt Latest Member:
/             dd
/               a.username dir="auto" href="members/65441/"  Raina
/           /! slot: forum_stats_extra
/     /! end block: forum_stats
